In [40]:
import requests
import pandas as pd

apikey = "411664428886e0f3a42ef38e67343f38"
category = "business"
url = f"https://gnews.io/api/v4/top-headlines?category={category}&lang=en&country=us&max=100&apikey={apikey}"

response = requests.get(url)
data = response.json()

# Check if the request was successful
if response.status_code == 200:
    if "articles" in data:
        articles = data["articles"]

        # Create an empty list to store the article data
        article_data = []

        # Iterate over each article
        for article in articles:
            title = article.get("title")
            description = article.get("description")
            source = article.get("source").get("name")
            published_at = article.get("publishedAt")
            url = article.get("url")

            article_data.append({
                "Title": title,
                "Description": description,
                "Source": source,
                "Published At": published_at,
                "URL": url
                
            })

        # Create a DataFrame from the article data
        df = pd.DataFrame(article_data)
    else:
        print("No articles found in the response.")
else:
    print(f"Error: {response.status_code} - {response.reason}")

print("Total articles fetched:", len(articles))

Total articles fetched: 10

In [38]:
df.head()

,Title,Description,Source,Published At,URL
0,California gas tax to increase on July 1,California's gasoline tax is scheduled to incr...,NBC San Diego,2023-07-01T04:44:01Z,https://www.nbcsandiego.com/news/local/califor...
1,Rep. Jamie Raskin urges NFL to disclose outcom...,The NFL has repeatedly vowed to disclose the o...,NBC Sports,2023-07-01T02:30:31Z,https://www.nbcsports.com/nfl/profootballtalk/...
2,Verizon outage affecting large swath of the Mi...,Action News 5 has received numerous reports of...,Action News 5,2023-07-01T02:19:00Z,https://www.actionnews5.com/2023/07/01/verizon...
3,Gilead and Teva defeat antitrust lawsuit over ...,The case turned on claims that Gilead and Teva...,STAT,2023-06-30T23:02:01Z,https://www.statnews.com/pharmalot/2023/06/30/...
4,Mentor Mexican restaurant shut down due to ‘ou...,One of the critical health violations was a st...,Cleveland 19 News,2023-06-30T22:55:00Z,https://www.cleveland19.com/2023/06/30/mentor-...

In [39]:
df.to_csv('GnewsAPI_articles.csv')

In [20]:
import requests
import pandas as pd

api_key = '411664428886e0f3a42ef38e67343f38'
categories = ['general', 'world', 'nation', 'business', 'technology', 'entertainment', 'sports', 'science', 'health']

articles = []

for category in categories:
    url = f"https://gnews.io/api/v4/top-headlines?category={category}&lang=en&country=in&token={api_key}&max=20"

    response = requests.get(url)
    news_data = response.json()

    if response.status_code == 200:
        if "articles" in news_data:
            for article in news_data['articles']:
                title = article['title']
                description = article['description']
                url = article['url']
                published_at = article['publishedAt']

                articles.append({
                    'Title': title,
                    'Description': description,
                    'URL': url,
                    'Published At': published_at,
                    'Category': category
                })
        else:
            print(f"No articles found for category '{category}'")
    else:
        print(f"Error fetching data for category '{category}': {response.status_code} - {response.reason}")

# Create a DataFrame from the article data
df = pd.DataFrame(articles)
df.head()

Error fetching data for category 'business': 429 - Too Many Requests
Error fetching data for category 'science': 429 - Too Many Requests

,Title,Description,URL,Published At,Category
0,Quordle 523 answer for July 1: Sneaky puzzle t...,Quordle 523 answer for July 1: You don’t have ...,https://tech.hindustantimes.com/how-to/quordle...,2023-07-01T03:35:39Z,general
1,At least 25 dead as bus catches fire on Nagpur...,Nagpur: At least 25 passengers were charred to...,https://www.siasat.com/at-least-25-charred-to-...,2023-07-01T02:50:00Z,general
2,Garena Free Fire Redeem codes for July 1: Booy...,Garena Free Fire Redeem codes for July 1: Know...,https://tech.hindustantimes.com/how-to/garena-...,2023-07-01T02:41:20Z,general
3,BGMI Redeem Codes for July 1: Splendid free re...,BGMI Redeem Codes for July 1: Check out the la...,https://tech.hindustantimes.com/how-to/bgmi-re...,2023-07-01T02:23:30Z,general
4,Garena Free Fire MAX Redeem Codes for July 1: ...,Garena Free Fire MAX Redeem Codes for July 1: ...,https://tech.hindustantimes.com/how-to/garena-...,2023-07-01T02:07:36Z,general

In [21]:
df.to_csv('GnewsAPI_articles.csv')

In [1]:
import requests
import pandas as pd

# Set up your API key and search engine ID
API_KEY = "AIzaSyAfZrvmTnmsteEl7_6U2yBZjw_cg3ueq9s"
SEARCH_ENGINE_ID = "b27891aaeb2ec402f"

# Function to perform the search and return results as a DataFrame
def google_search(query):
    url = f"https://www.googleapis.com/customsearch/v1"
    params = {
        "key": API_KEY,
        "cx": SEARCH_ENGINE_ID,
        "q": query
    }
    response = requests.get(url, params=params)
    data = response.json()

    # Extract search results
    if "items" in data:
        search_results = data["items"]
        results_list = []
        for result in search_results:
            title = result["title"]
            link = result["link"]
            snippet = result["snippet"]
            results_list.append({"Title": title, "Link": link, "Snippet": snippet})

        # Create DataFrame from search results
        df = pd.DataFrame(results_list)
        return df

    return pd.DataFrame()  # Return an empty DataFrame if no results found

# Perform a search
query = "example query"
search_results_df = google_search(query)

search_results_df.head()

,Title,Link,Snippet
0,25 Advanced SQL Query Examples | LearnSQL.com,https://learnsql.com/blog/25-advanced-sql-quer...,"Feb 28, 2023 ... One of the best ways to learn..."
1,Learn SQL: SQL Query examples,https://www.sqlshack.com/learn-sql-sql-query-e...,"Mar 31, 2020 ... In the previous article we've..."
2,Examples of Common Queries - MySQL Reference M...,https://www.oreilly.com/library/view/mysql-ref...,Examples of Common Queries · The Maximum Value...
3,Example queries for Cloud Billing data export ...,https://cloud.google.com/billing/docs/how-to/b...,Specifying the table name to use in your queri...
4,Example queries - AWS CloudTrail,https://docs.aws.amazon.com/awscloudtrail/late...,This section describes how you can access samp...

In [3]:
import requests
import pandas as pd

# Set up your API key and search engine ID
API_KEY = "AIzaSyAfZrvmTnmsteEl7_6U2yBZjw_cg3ueq9s"
SEARCH_ENGINE_ID = "b27891aaeb2ec402f"

# Function to perform the search and return results as a DataFrame
def google_search(query, category=None):
    url = "https://www.googleapis.com/customsearch/v1"
    params = {
        "key": API_KEY,
        "cx": SEARCH_ENGINE_ID,
        "q": query,
        "searchType": "image" if category == "image" else "web",
        "siteSearch": category if category != "image" else None
    }
    response = requests.get(url, params=params)
    data = response.json()

    # Extract search results
    if "items" in data:
        search_results = data["items"]
        results_list = []
        for result in search_results:
            title = result["title"]
            link = result["link"]
            snippet = result["snippet"]
            image_link = result.get("image", {}).get("thumbnailLink", None)
            results_list.append({"Title": title, "Link": link, "Snippet": snippet, "Image Link": image_link})

        # Create DataFrame from search results
        df = pd.DataFrame(results_list)
        return df

    return pd.DataFrame()  # Return an empty DataFrame if no results found

# Perform a search for articles in the data science category
query = "data science"
category = "example.com"  # Specify the desired category or website for articles
search_results_df = google_search(query, category)

# Print the DataFrame
print(search_results_df)

Empty DataFrame
Columns: []
Index: []

In [2]:
search_results_df.to_csv('search_results.csv')