In [6]:
import requests
import pandas as pd

In [12]:
def retrieve_articles(topic):
    url = f'https://en.wikipedia.org/w/api.php?action=query&format=json&prop=extracts&exintro=true&explaintext=true&titles={topic}'
    response = requests.get(url)
    data = response.json()

    pages = data['query']['pages']
    articles = []
    for page in pages.values():
        title = page['title']
        extract = page['extract']
        articles.append({'Title': title, 'Extract': extract})

    return articles

In [13]:
topics = ['Java', 'Data science', 'Economics', 'titanic']
all_articles = []
for topic in topics:
    articles = retrieve_articles(topic)
    all_articles.extend(articles)

In [14]:
df = pd.DataFrame(all_articles)
df.head()

          Title                                            Extract
0          Java  Java (; Indonesian: Jawa, pronounced [ˈdʒawa];...
1  Data science  Data science is an interdisciplinary academic ...
2     Economics  Economics () is a social science that studies ...
3       Titanic  RMS Titanic was a British passenger liner, ope...

In [15]:
df.to_csv('wiki_article.csv')